@CHARSET "UTF-8";

.jr-toggle{
	float: right;
	line-height: 50px;
	margin-right: 15px;
	color: #fff;
	
}

.jr.menu{
	
}
.jr-page-title{
	font-size:1.5em;
	color: #373737;
	margin: 0;
	padding: 20px 0;
	
}